{% assign current_product = product %}
{% assign related_products = section.settings.collection.products %}
{{ 'swiper-slider.css' | asset_url | stylesheet_tag }}
{{ 'swiper-slider-rel-fix.css' | asset_url | stylesheet_tag }}

<div class="swiper-wrapper-container">
  <div class="swiper mySwiper">
    {% if section.settings.related_swiper_title != blank %}
      <div>
        <h1 class="swiper-title">
          {{ section.settings.related_swiper_title }}
        </h1>
      </div>
    {% endif %}
    <div class="swiper-wrapper">
      {% for product in related_products %}
        {% if product.id != current_product.id and product.tags contains current_product.tags[0] %}
          <div class="swiper-slide">
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: 'adapt',
              show_secondary_image: true,
              skip_styles: false
            %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-scrollbar"></div>
</div>

<script src="{{ 'swiper-slider.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Slider Related Products",
  "settings": [
    {
      "type": "text",
      "id": "related_swiper_title",
      "label": "Slider Title",
      "default": "You Might Also Like"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose a collection to pull related products from"
    }
  ],
  "presets": [
    {
      "name": "Swiper Slider (Related Products)"
    }
  ]
}
{% endschema %}
